$rem:16px;
$breakpoint-desktop: 92rem;

// Resetting default styles
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

// Fix for jumping arrows
.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 13.2rem;
}

.carousel {
  position: relative;
  background-color: gray;
  min-height: 30em;
}

// Carousel slides
.carousel__slide {
  margin-right: auto;
  margin-left: 10%;
  display: none;
  max-width: 56.3rem;
  list-style-type: none;
  text-align: center;

  @media (max-width: 62rem) {
    padding-right: 4rem;
    padding-left: 4rem;
  }

  &--active {
    display: block;
  }
}

// Content of slides
.carousel-slide__content {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  text-align: left;
  color: #fff;
  @media (max-width: $breakpoint-desktop - 0.1rem) {
    font-size: 1.1rem;
  }

}


.carousel-slide__heading {
  margin-bottom: 1rem;
  font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
  color: #fff;
  text-align: left;
  @media (max-width: $breakpoint-desktop - 0.1rem) {
    font-size: 1.2rem;
  }
  padding-top: 8rem;

}



// Carousel arrows
.carousel__arrow {
  position: absolute;
  top: 40%;
  display: block;
  color: #111;
  cursor: pointer;
  opacity: .75;
  transform: translateY(-50%);
  transition: opacity .15s cubic-bezier(.4, 0, 1, 1);

  &:focus {
    outline: 0;
  }

  &:hover {
    opacity: .5;
  }

  &--left {
    left: 3rem;
  }

  &--right {
    right: 3rem;
  }
}

// Carousel indicators
.carousel__indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  li {
    &:nth-of-type(n + 2) {
      margin-left: 1rem;
    }
  }
}

.carousel__indicator {
  display: block;
  width: 2rem;
  height: 0.2rem;
  background-color: #111;
  cursor: pointer;
  opacity: .15;
  transition: opacity .15s cubic-bezier(.4, 0, 1, 1);

  &:hover {
    opacity: .5;
  }

  &--active {
    &,
    &:hover {
      opacity: .75;
    }
  }
}
.btn-custom {
  background-color: black;
  color: green;
  border: 2px solid green;
  padding: 0.5rem 0.7rem;
  border-radius: 0.1rem;
}
.container-style{
align-self: auto;
align-content: right;
margin-top: 1.5rem;
margin-left: auto;
margin-right: auto}

.text-bottom{
  vertical-align: text-bottom;
  display: flex;
  flex-direction: row;
}
.row-layout{
  padding:3.2rem;
  border-bottom: 0.07rem lightgrey solid;
}
.block-example {
  width: 19rem;
  height: 19rem;
  background-color: #eee;
  display: inline-block;
  text-align:center;
}

.btn-color{
  background-color: grey;
  color: white;
  padding: 0.5rem 0.7rem;
  border-radius: 0.1rem;
}
.nav-link-disabled {
  color: rgba(255,255,255,.25);
}
.navbar-color{
  background-color:#343a40;
}